# Manual prompting with ChatGPT

## Load data

In [1]:
import yfinance as yf

stocks = ['AAPL', 'MSFT', 'AMZN', 'GOOGL', 'GOOG', 'META', 'TSLA']
df_base = yf.download(stocks, start='2010-01-01', end='2020-12-31')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  7 of 7 completed

In [2]:
df_base

Price            Close                                                \
Ticker            AAPL        AMZN       GOOG      GOOGL        META
Date
2010-01-04    6.440330    6.695000  15.536651  15.609803         NaN
2010-01-05    6.451466    6.734500  15.468233  15.541063         NaN
...                ...         ...        ...        ...         ...
2020-12-29  131.738464  166.100006  87.521461  87.469810  275.481628
2020-12-30  130.615128  164.292496  86.565979  86.399429  270.594666

Price                                     High                         ...  \
Ticker            MSFT        TSLA        AAPL        AMZN       GOOG  ...
Date                                                                   ...
2010-01-04   23.254055         NaN    6.455076    6.830500  15.605068  ...
2010-01-05   23.261562         NaN    6.487879    6.774000  15.563671  ...
...                ...         ...         ...         ...        ...  ...
2020-12-29  216.233871  221.996674  135.567445  167.532501  89.199518  ...
2020-12-30  213.851105  231.593338  132.832424  167.104996  87.838706  ...

Price             Open                             Volume             \
Ticker            META        MSFT        TSLA       AAPL       AMZN
Date
2010-01-04         NaN   23.006112         NaN  493729600  151998000
2010-01-05         NaN   23.178916         NaN  601904800  177038000
...                ...         ...         ...        ...        ...
2020-12-29  275.650844  218.317592  220.333328  121047300   97458000
2020-12-30  276.646162  217.275735  224.000000   96452100   64186000

Price
Ticker           GOOG      GOOGL        META      MSFT         TSLA
Date
2010-01-04   78541293   78169752         NaN  38409100          NaN
2010-01-05  120638494  120067812         NaN  49749600          NaN
...               ...        ...         ...       ...          ...
2020-12-29   25988000   19726000  16383000.0  17403200   68732400.0
2020-12-30   26122000   21026000  11803800.0  20272300  128538000.0

[2768 rows x 35 columns]

## Calculate metrics

In [7]:
df = df_base['Close']

df = (df
 .loc['2010':]
 .groupby(df.index.year).pct_change(fill_method=None).add(1)
 .groupby(df.index.year).cumprod().sub(1)
 .resample('1YE').last()
 .mul(100)
)

In [8]:
df.style

## Interpretation with AI

1. Copy table to clipboard
2. Create a prompt for ChatGPT in [this folder](../prompts/README.md)
3. Paste table into ChatGPT, along with the prompt
4. Paste the response below

Aquí están algunas explicaciones sobre los valores más significativos, tanto positivos como negativos, en los retornos acumulados anuales de los activos financieros, respaldados por noticias:

1. **Apple (AAPL) 2010-2020**:
   - **2010 (50.72%)**: Apple tuvo un excelente año debido al lanzamiento del iPhone 4 y el iPad original, ambos revolucionarios en sus respectivas categorías. Estos productos incrementaron significativamente las ventas y los ingresos de la compañía【7†source】.
   - **2014 (42.63%)**: En este año, Apple realizó una división de acciones 7:1 en junio, lo que hizo que sus acciones fueran más accesibles para los inversores. Además, el lanzamiento del iPhone 6 y 6 Plus impulsó las ventas a nuevos récords【8†source】【16†source】.
   - **2020 (79.62%)**: En medio de la pandemia de COVID-19, Apple lanzó el iPhone 12 con tecnología 5G y experimentó un aumento significativo en la demanda de sus productos y servicios debido al aumento del trabajo y estudio desde casa【15†source】【17†source】.

2. **Tesla (TSLA) 2020 (707.40%)**:
   - Tesla tuvo un crecimiento impresionante en 2020 impulsado por varios factores, incluyendo su inclusión en el índice S&P 500, lo cual atrajo una gran cantidad de inversiones. Además, reportó entregas récord de vehículos y continuó expandiéndose en nuevos mercados【16†source】.

3. **Amazon (AMZN) 2015 (119.07%)**:
   - Amazon experimentó un aumento significativo en 2015 gracias al rápido crecimiento de Amazon Web Services (AWS), que se convirtió en un importante motor de ingresos. El evento Prime Day también contribuyó al incremento en las ventas y al rendimiento positivo de las acciones【15†source】.

4. **Meta (META) 2013 (95.18%)**:
   - En 2013, Facebook (ahora Meta) tuvo un año excepcional debido a su salida a bolsa y su creciente popularidad y expansión global. La compañía también comenzó a monetizar su plataforma móvil de manera más efectiva, lo que impulsó los ingresos y el precio de sus acciones【15†source】.

5. **Microsoft (MSFT) 2019 (58.26%)**:
   - Microsoft tuvo un gran desempeño en 2019 gracias al crecimiento continuo de sus servicios en la nube, especialmente Azure, que se convirtió en un motor clave de ingresos. También se beneficiaron de la expansión de su suite Office 365 y la adquisición de GitHub【15†source】.

Estos eventos reflejan cómo los lanzamientos de productos innovadores, las estrategias empresariales y los cambios en el mercado pueden influir significativamente en los retornos de las acciones. Para más detalles, puedes consultar las siguientes fuentes:
- [Apple Historical Data](https://www.nasdaq.com)
- [Apple Stock News](https://stockanalysis.com)
- [Apple Stock Price History](https://markets.businessinsider.com)